/* Copyright 2025 Binkce. All rights reserved. */

/* This file defines the global styles of the application.
 * It is intended to evolve and will be updated progressively
 * throughout development.
 */

:root {background: white}

html, body {
    margin: 0 auto;
    padding: 0;
    overflow-x: hidden;
}

.layout-container {
    max-width: 1920px;
    margin-inline: auto;
    width: 100%;
}
